/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&family=Spline+Sans&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,500&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:wght@400;500&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    overflow-x: hidden;
    background-color: rgb(243, 242, 242);
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*
font-family: 'IBM Plex Mono', monospace;
font-family: c;
font-family: 'IBM Plex Sans Condensed', sans-serif;
*/

:root {
    --color-bg-dark: #232323;
    --color-warning: #f749c94b;
    --color-primary: #972c1e;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #f4f4fdee;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-variant: rgb(114, 230, 214);
    --color-yellow: rgb(255, 188, 2);
    --transition: all 400ms ease;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* transition: .7s; */

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #080804 !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    z-index: 999;
    transition: .9s;
}

nav {
    background-color: #3838410c !important;
}


.navbar-nav a.nav-link {
    font-size: 13px;
    font-weight: 600;
    color: var(--color-white)!important;
    padding: 1px 0;
    text-transform: uppercase;
    transition: all ease .3s;
}

.navbar-nav .nav-item {
  padding: 0px!important;
  padding-left: -5px;
}

.navbar-nav a.active {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
}

.navbar-nav .nav-link:hover {
    color: var(--color-yellow);
    border-bottom: 2px solid var(--color-white);
}

.navbar-toggler {
    outline: none !important;
    padding: none;
}

@media only screen and (max-width: 532px) {
    nav .navbar-brand {
        font-size: 20px;
    }
}

.hero .hero__container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 50px;
    /* margin-top: 20px; */
    padding-left: 100px;
    height: 90vh;
    background: linear-gradient(rgba(66, 61, 61, 0.315), rgba(36, 32, 32, 0.76)), url(../images/bg3.png), no-repeat center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero .hero__container .hero__content h1 {
    text-transform: uppercase;
    color: var(--color-yellow);
    font-weight: 900;
    font-size: 3.9rem;
    font-style: italic;
    line-height: 3.4rem;
    font-family: "Spline", sans-serif;
}

.hero .hero__container .hero__content p {
    font-weight: 500;
    font-size: 15px;
    margin: 16px 0;
    color: var(--color-white);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.hero-btns {
    display: flex;
    gap: 25px;
}

.button-default-1 {
  color: white;
  background-color: var(--color-yellow);
  text-align: center;
  text-transform: uppercase;
  padding: 9px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
}


.button-default-2 {
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 35px;
  border: 1px solid var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
}


.button-slanted {
  -ms-transform: skewX(-14deg);
  -webkit-transform: skewX(-14deg);
  transform: skewX(-14deg);
}

.button-slanted-content {
  -ms-transform: skewX(14deg);
  -webkit-transform: skewX(14deg);
  transform: skewX(14deg);
  display: inline-block;
}

.button-slanted-content a {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;
    font-size: 12px;
}

.button-slanted-content a.yellow {
  color: var(--color-yellow);
}

.button-fixedwidth {
  width: 100px;
}

@media screen and (max-width: 500px) {
    .hero-btns {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    body p{
        padding: 0 20px;
    }

    h1 {
        font-size: 1.3rem;
    }
}



.about-us {
    margin: 4rem 0;
}

.about-content .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .left h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.9rem;
    color: var(--color-black);
    font-family: "Spline", sans-serif;
    line-height: 2.8rem;
}

.about-content .right {
    display: block;
    padding: 2px 0;
}

.about-content .right p {
    color: var(--color-black);
    font-size: 17px;
    font-weight: 500;
    line-height: 2rem;
    padding: 0 4px;
}

.carousel-caption {
    position: relative;
}

.carousel-caption .top {
    position: absolute;
    top: -23rem;
    left: 30%;
}

.carousel-item img {
    height: 37rem;
}

.trainer img {
    height: auto;
    width: 100%;
    /* height: 5rem; */
}

.slide-content .carousel-header {
    margin-top: -580px;
    margin-bottom: 20rem;
}

@media screen and (max-width: 1155px) {

    .slide-content .carousel-header {
        margin-top: -450px;
        margin-bottom: 13rem;
    }

}

@media screen and (max-width: 986px) {

    .slide-content .carousel-header {
        margin-top: -300px;
        margin-bottom: 10rem;
    }

}

@media screen and (max-width: 986px) {

    .slide-content .carousel-header {
        margin-bottom: 7rem;
    }

}

@media screen and (max-width: 800px) {

    .slide-content .carousel-header {
        margin-top: -200px;
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 800px) {

.trainer img {
    height: 26rem;
    width: 100%;
}

.carousel-control-prev img,
.carousel-control-next img {
    display: none;
}


}

.top .carousel-header h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.9rem;
    color: var(--color-white);
    padding-top: -20px;
    font-family: "Spline", sans-serif;
}

.top .carousel-header p {
    color: var(--color-white);
    font-weight: 600;
    margin-top: 1rem;
    padding: 0;
}

@media screen and (max-width: 716px) {

    .slide-content .carousel-header {
        /* margin-top: -200px; */
        margin-bottom: 0rem;
    }

    .slide-content .carousel-header h2 {
        font-size: 1.9rem;
        font-weight: 600;
        padding-top: 0;
    }

}

.bottom .carousel-footer h5 {
    color: var(--color-white);
    font-weight: 600;
}

.bottom  .carousel-footer p {
    color: var(--color-white);
    font-weight: 300
}

.bottom  .carousel-footer h6 {
    color: var(--color-yellow);
    text-transform: uppercase;
    font-weight: 700;
}

.plans-header h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: var(--color-black);
    text-align: center;
    font-family: "Spline", sans-serif;
}

.all-plans {
    display: flex;
    gap: 5px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .all-plans {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .all-plans .item {
        width: 50%;
    }

}


.all-plans h4 {
    text-transform: uppercase;
    font-weight: 500;
}

.all-plans .item {
    border: 1px solid rgba(26, 21, 21, 0.137);
    padding: 35px;
    position: relative;
    width: 100%;
    height: 27rem
}

.all-plans ul {
    margin-top: 50px;
}

.all-plans ul li {
  margin-top: -10px;
}

.all-plans ul li p {
    font-weight: 500;
    font-size: 15px;
}

.all-plans ul li {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.all-plans ul li img {
    height: 15px;
}

.plans-button {
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.plans-button:last-child {
    bottom: 10px;
}


.button-slanted {
  -ms-transform: skewX(-14deg);
  -webkit-transform: skewX(-14deg);
  transform: skewX(-14deg);
}

.button-slanted-content {
  -ms-transform: skewX(14deg);
  -webkit-transform: skewX(14deg);
  transform: skewX(14deg);
  display: inline-block;
}


.plans-button button a {
    color: var(--color-black);
    font-weight: 600;
    line-height: 2rem;
}

.all-plans .item:hover {
    cursor: pointer;
    border: none;
    transition: .2s;
    box-shadow: 5px 5px 5px 5px rgba(26, 18, 18, 0.637);
}

.map {
    position: relative;
}

.map iframe {
    width: 100%;
    height: 500px;
}

.map .map-header {
    position: absolute;
    z-index: 1000;
    top: 40px;
    left: 37%;
}

.map .map-header h1 {
    font-weight: 900;
    color: var(--color-black);
    font-family: "Spline", sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .map .map-header h1 {
        font-size: 1.6rem;
    }
}

.shop-item h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.9rem;
    color: var(--color-black);
    font-family: "Spline", sans-serif;
}

.shop-item .paragraphs {
    margin: 20px 0;
}

.shop-item .paragraphs p {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
}

.shop-item .paragraphs p:last-child {
  margin-top: -10px;
}

.shop-item h6 {
    color: var(--color-yellow);
    font-weight: 700;
    text-transform: uppercase;
}

.shop-flex-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .shop-flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

}

.shop-item-bg1 {
    background: url(../images/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20rem;
}

.shop-item,
.shop-item-bg1,
.shop-item-bg2 {
    width: 100%;
}

.shop-item-bg2 {
    background: url(../images/bg7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20rem;
}


.shop-item-bg1 .floating-item,
.shop-item-bg2 .floating-item {
    /* width: 100%; */
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.shop-item-bg2 .floating-item p,
.shop-item-bg1 .floating-item p {
    color: var(--color-white);
    font-size: 15px;
    font-weight: 500;
}

.shop-item-bg1 .floating-item button,
.shop-item-bg2 .floating-item button {
    background-color: var(--color-yellow);
    padding: 3px 15px;
    border: 1px solid var(--color-yellow);
    cursor: pointer;
    transition: all .6s;
}

.shop-item-bg1 .floating-item button a,
.shop-item-bg2 .floating-item button a {
    color: var(--color-black);
    font-weight: 600;
}

.shop-item-bg1 .floating-item .content p:last-child {
  margin-top: -19px;
}

.shop-item-bg2 .floating-item .content p:last-child {
  margin-top: -19px;
}

/* shop buttons */
.button-default-shop {
  background-color: var(--color-yellow);
  text-align: center;
  text-transform: uppercase;
  height: 30px;
  padding: 3px 20px;
  border: 1px solid var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
}


.button-slanted-shop {
  -ms-transform: skewX(-14deg);
  -webkit-transform: skewX(-14deg);
  transform: skewX(-14deg);
}

.button-slanted-content-shop {
  -ms-transform: skewX(14deg);
  -webkit-transform: skewX(14deg);
  transform: skewX(14deg);
  display: inline-block;
}

.button-slanted-content-shop a {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;
    font-size: 12px;
}

.subscribe {
    background-color: var(--color-yellow);
    text-align: center;
    padding: 2px 0;
}

.subscribe .subscribe-header h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.9rem;
    color: var(--color-black);
    font-family: "Spline", sans-serif;
}


@media screen and (max-width: 600px) {
    .subscribe .subscribe-header h1 {
        font-size: 1.8rem;
    }

    .subscribe-input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


.subscribe .subscribe-header p {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-black);
}

.subscribe-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5rem;
    margin-bottom: 5px;
}

/* input buttons */
.button-default-input {
  background-color: var(--color-yellow);
  text-align: center;
  text-transform: uppercase;
  height: 30px;
  padding: 3px 20px;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
  height: 2.5rem;
  width: 10rem
}


.button-slanted-input {
  -ms-transform: skewX(-14deg);
  -webkit-transform: skewX(-14deg);
  transform: skewX(-14deg);
}

.button-slanted-content-input {
  -ms-transform: skewX(14deg);
  -webkit-transform: skewX(14deg);
  transform: skewX(14deg);
  display: inline-block;
}

.button-slanted-content-input a {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;
    font-size: 12px;
}



.subscribe-input .inputs input {
    padding: 3px 20px;
    width: 20rem;
    height: 2.5rem;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.subscribe-input .subscribe-btn button {
    background-color: transparent;
    padding: 3px 20px;
    border: 1px solid var(--color-white);
    cursor: pointer;
    transition: all .6s;
    -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.subscribe-input .subscribe-btn button a {
    color: var(--color-black);
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
}

.subs p {
  margin-top: 10px;
    font-size: 11px;
    font-weight: 300;
}


/* Footer Style */

footer {
    background-color: #232323;
    padding: 80px 0px;
    color: #fff;
}

footer img {

}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer p {
    color: #fff;
}

footer ul.menu-list li {
    margin-bottom: 13px;
}

footer ul.menu-list li:last-child {
    margin-bottom: 0px;
}

footer ul.menu-list li a {
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
}

footer ul.menu-list li a:hover {
    color: #a4c639;
}
